.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 600px;
  width: 1000px;
}

.App-header {
  /*background-color: #222;*/
  height: 500px;
  padding: 20px;
  color: white;
  background-position: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.toggle-content {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: all 350ms ease-in-out;
  opacity:0;
}

.toggle-content.is-visible {
  visibility: visible;
  height: auto;
  opacity:1;
}

.button-radius-right{
  border-radius: 0px 4px 4px 0px!important;
}

.bg-grey{
  background: #74777808;
}

@media (min-width: 992px){
  .modal-lg, .modal-xl {
    max-width: 1000px;
  }
}

